# Config
config.dev.yml

# Keys
*.pem

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Compiled Go binary files
*.exe
*.test
*.prof

# Go coverage files
*.cover
*.out

# Generated Go code
*.pb.go

# Swp files, vim and emacs swap files
*~
.*.swp
.*.swo
*.swp
*.swo

# OS X specific files
.DS_Store

# Binaries for programs and plugins
/bin/
/pkg/
/vendor/
